.card {
  color: $main-font-color;
  font-family: $main-font;
  width: $card-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   height: $card-height;
  background-color: $card-bg-color;
  margin: 10px;
  border: 1px solid green;
  border-radius: 10px;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
  img {
    height: 100%;
  }
}
@for $i from 1 through 3 {
  .card-#{$i} {
    @extend .card;
    p {
      font-size: calc(1em + #{$i}em / 10);
    }
  }
}
$color1: #006400;
$color2: #70e000;
$color3: #ccff33;

@mixin cardcolored($color) {
}
