.container {
  width: 80%;
  margin: 2vh auto 2vh auto;
  //   display: flex;
  //   flex-direction: column;
  > div {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 720px) {
      //   flex-direction: column;
    }
  }
}
